<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor-test/phpunit/phpunit/phpunit.xsd"
         bootstrap="tests/phpunit/bootstrap.php"
         colors="true"
         cacheResult="false"
         failOnWarning="true"
         failOnRisky="true"
         beStrictAboutOutputDuringTests="true">
    <testsuites>
        <testsuite name="mod_skilland">
            <directory suffix="_test.php">tests/phpunit</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory suffix=".php">src</directory>
        </include>
        <exclude>
            <directory>src/vendor</directory>
            <directory>src/tests</directory>
        </exclude>
    </source>
</phpunit>
